* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	--bg: #eee6e4;
	--black: #222221;
	--bold: #689689;
	--bold1: #E3D4CA;
}
body {
	background-color: var(--bg);
	color: var(--black);
	font-family: 'Noto Serif', serif;
}
h1, h2, h3 {
	font-family: 'Alfa Slab One', cursive;
}
h1 {
	color: var(--bold);
	font-size: 3rem;
	line-height: 4rem;
}
h2 {
	font-size: 2rem;
	line-height: 3.2rem;
}
h3 {
	font-size: 1.3rem;
	line-height: 2.1rem;
}
p, a {
	font-size: 1rem;
	line-height: 1.6rem;
	font-family: 'Noto Serif', serif;
}
a {
	color: inherit;
	text-decoration: none;
}
section {
	padding: 4rem 1rem;
}
main {
	max-width: 1200px;
	margin: 0 auto;
}
::selection {
	background-color: var(--bold);
	color: var(--bold1);
}
span.color-bg {
	background: linear-gradient(0deg, var(--bold) 40%, rgba(0,0,0,0) 0%);
}

header {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	box-sizing: border-box;

	display: grid;
	grid-template-rows: 3fr 1fr;
}
.top {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}
header img {
	width: 100%;
}
header nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 5vw;
}
nav .link {
	padding: 1rem;
	box-sizing: border-box;
	width: 100%;

	border: 1px solid var(--black);
	border-radius: 10px;
	box-shadow: -10px 10px 0px var(--black);
	transition: .2s all;
	text-align: center;

	background-color: var(--bold1);
	background-position: bottom;
	background-repeat: no-repeat;
}
nav .link:hover {
	box-shadow: 0px 0px 0px var(--black);
	transform: translateX(-10px) translateY(10px);
}

.frequent-questions h2 {
	margin-bottom: 3rem;
}
.frequent-questions h3, p {
	display: inline;
}
.questions-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 3rem;;
}
.response {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;

	text-align: center;
}
.questions {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}
.question {
	padding: 0.6rem;
	box-shadow: -10px 10px 0px var(--black);

	border: 1px solid var(--black);
	background-color: var(--bold1);
	border-radius: 10px;
	cursor: pointer;
	transition: .2s all;
}
.question:hover {
	background-color: var(--bold);
	color: var(--bold1);
}
.active-question {
	background-color: var(--bold);
	color: var(--bold1);
	box-shadow: 0px 0px 0px var(--black);
	transform: translateX(-10px) translateY(10px);
}

.servicos h2 {
	margin-bottom: 2rem;
}
.servicos-grid {
	display: grid;
	grid-template-columns: 1fr 1.2fr 1fr;
	gap: 2rem;
}
.servico {
	padding: 1rem;

	border: 1px solid var(--black);
	border-radius: 10px;
	background-color: var(--bold1);
	box-shadow: -10px 10px 0px var(--black);
	transition: .3s all;
}
.servico:hover {
	background-color: var(--bold);
	color: var(--bold1);
}
.servico a {
	width: 50%;
	margin-top: .5rem;
	display: block;

	text-align: center;
	border: 1px solid var(--black);
	box-shadow: -5px 5px 0px var(--black);
	transition: .3s all;
}
.servico a:hover {
	box-shadow: 0px 0px 0px var(--black);
	transform: translateX(-5px) translateY(5px);
	background-color: var(--bold1);
	color: var(--black);
}

.contato h2 {
	margin-bottom: 2rem;
}
.contato-grid {
	display: grid;
	grid-template-columns: 1fr 1.3fr;
}
.information {
	padding: 0.6rem;
	margin-bottom: 2rem;

	display: flex;
	align-items: center;

	background-color: var(--bold1);
	border-radius: 10px;
	border: 1px solid var(--black);
	box-shadow: -10px 10px 0px var(--black);
}
.information button {
	margin-left: 2rem;
	padding: 0.1rem 0.3rem;

	background-color: var(--bold1);
	text-align: center;
	border: 1px solid var(--black);
	box-shadow: -5px 5px 0px var(--black);
	transition: .3s all;

	font-size: 1rem;
}
.information button:hover {
	box-shadow: 0px 0px 0px var(--black);
	transform: translateX(-5px) translateY(5px);
	background-color: var(--bold);
	color: var(--black);
}

@media (max-width: 850px) {
	h1 {
		font-size: 2.5rem;
		line-height: 3.2rem;
		margin-bottom: 1rem;
	}

	.top {
		flex-direction: column;
	}
	header img {
		width: 80%;
	}
	header nav {
		padding: 0 2rem;
	}
	header nav {
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	nav .link {
		box-sizing: border-box;
	}

	.questions-grid {
		grid-template-columns: 1fr;
	}

	.servicos-grid {
		grid-template-columns: 1fr;
	}

	.contato-grid {
		grid-template-columns: 1fr;
	}
	.contato-grid img {
		width: 90%;
	}
	.information {
		box-sizing: border-box;

		flex-direction: column;
	}
	.information button {
		margin-left: 0;
		margin-top: 1rem;
	}
}
